header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 888;
	background: transparent;
	padding: 30px 0;

	.header-logo > img {
		width: 150px;

		@include media-breakpoint-down(sm) {
			width: 115px;
		}
	}

	.header-tel {
		img {
			filter: invert(100%);
			width: 40px;
			padding: 10px;
		}

		a {
			font-weight: bold;
			color: white;
			text-decoration: none;
			display: block;
			font-size: .9em; 

			@include media-breakpoint-down(sm) {
				font-size: .85em; 
			}

			&:hover {
				text-decoration: underline;
				text-decoration-color: white;
			}
		}
	}
}