<section id="intro-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h6 class="intro-title">معرفی</h6>
				<p class="intro-paragraph">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aliquid esse illum voluptatibus debitis assumenda quam quidem obcaecati, odit eum! Ratione, esse! Labore assumenda quam iste rerum voluptatem ex explicabo?
				</p>
				<img src="./assets/img/00.jpg" alt="technology" width="300">
			</div>
		</div>
	</div>
</section>