<section id="featuresSection" [style.background-position-y.px]="-285 - (scrollService.onScroll$ | async).y / 2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-12" *ngIf="features?.length">
				<ul class="feature-items list-unstyled row no-gutters" @list>
					<li class="feature-item col-lg-3 col-md-6" *ngFor="let feature of features" @items>
						<app-feature-item [feature]="feature"></app-feature-item>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<div class="text-center">
	<div class="btn btn-my-primary btn-contact">ارتباط با ما</div>
</div>
